body {
  background-image: url("background.jpg"); 
}

  .container {
        width: 250px;
        clear: both;
    }
    .container input {
        width: 100%;
        clear: both;
    }



}
fieldset {
  border-radius: 6px;
  display: block;
  background: transparent;
 

}
fieldset{
	style="width:30%"
}

{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
	 background-image: url("braaand.png");
   background-repeat: repeat-y;
    background-position: center; 
    padding: 108px;
    text-align: center;
    font-size: 35px;
}
.header1 {
	 background-image: url("braad.png");
   background-repeat: repeat-y;
    background-position: center; 
    padding: 20px;
    text-align: center;
    font-size: 15px;
}

    .header5 {
	 background-image: url("braaand.png");
   background-repeat: repeat-y;
    background-position: center; 
    padding: 120px;
    text-align: center;
    font-size: 15px;
}
/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    
}

/* Left and right column */
.column.side {
    width: 25%;
}
.column.side1 {
    width: 5%;
}


/* Middle column */
.column.middle {
    width: 70%;
    position: center;
}
.column.middle1 {
    width: 40%;
    position: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background:transparent;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
    
    

